

.s_product_img img{
    width: 100%;
    height: 280px;
    padding: 20px;
    box-shadow: 0 0 5px gray;

}
.s_product_list li{
    list-style-type: decimal;
}
.s_product_list1 li{
    list-style-type: lower-roman;
}
.s_product_img img:hover{
    border: none;
    box-shadow: -2px -2px 5px 0.5px orange, 2px 2px 5px 0.5px #9cc623;
}
.s_product_btn button{
    padding: 10px 30px;
    border: 2px solid #9cc423;
    background-color: transparent;
    border-radius: 8px;
    color: #000;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
}
.s_product_btn button:hover{
    background-color: #9cc423;
    color: #f5f5f5;
}
.shadow{
    font-weight:bold;
    text-transform: uppercase;
}
.nav-pills-custom .nav-link {
    color: #aaa;
    background: #fff;
    position: relative;
}

.nav-pills-custom .nav-link.active {
    color: #45b649;
    background: #fff;
}
.nav-pills-custom .nav-link:hover{
    border-top: 2px solid orange;
    border-left: 2px solid orange ;
    border-bottom: 2px solid #9cc423 ;
    border-right: 2px solid #9cc423;
}
/* Add indicator arrow for the active tab */
@media (min-width: 992px) {
    .nav-pills-custom .nav-link::before {
        content: '';
        display: block;
        border-top: 8px solid transparent;
        border-left: 10px solid #fff;
        border-bottom: 8px solid transparent;
        position: absolute;
        top: 50%;
        right: -10px;
        transform: translateY(-50%);
        opacity: 0;
    }
}

.nav-pills-custom .nav-link.active::before {
    opacity: 1;
}


.pill-scroll{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 120vh;
    }
    .pill-scroll::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
    .pill-scroll::-webkit-scrollbar-thumb {
        background: #9cc423; 
        border-radius: 50px;
      }
    .pill-scroll::-webkit-scrollbar {
        width: 8px;
      }
    
      .scrollmenu {
        overflow-x: scroll;
        /* overflow: hidden; */
        white-space: nowrap;
        width:95vw;
      }
      .scrollmenu::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 10px;
      }
    .scrollmenu::-webkit-scrollbar-thumb {
        background: #9cc423; 
        border-radius: 50px;
      }
    .scrollmenu::-webkit-scrollbar {
        width: 2px;
        height: 5px;
      }
      .scrollmenu a {
        display: inline-block;
        text-align: center;
        padding: 14px;
        text-decoration: none;
        margin-right: 5px;
      }
    .mob-view{
        display: none;
    }      
    @media screen and (max-width: 767px){
        .mob-view{
            display: block;
            overflow: hidden;
        }
        .desk-view{
            display: none;
        }
        
    }

    .blink_me {
        animation: blinker 1s linear infinite;
        color: #9cc423;
      }
      
      @keyframes blinker {
        50% {
          opacity: 0;
        }
      }
      .pro-scroll p{
            color: #9cc423;
      }


      
	.s_product_btn_new {
		padding: 10px 30px;
		border: 2px solid #9cc423;
		background-color: transparent;
		border-radius: 8px;
		color: #000;
		display: flex;
		justify-content: center;
		font-size: 16px;
		font-weight: 600;
	}

  .s_product_btn_new:hover{
    background-color: #9cc423;
    color: #f5f5f5;
  }

  .s_product_btn .s_product_btn_new:hover{
    background-color: #9cc423 !important;
    color: #f5f5f5 !important;
  }